---
import Labeling_table from "./labeling_table.astro";
import Tab_title from "./tab_title.astro";
import Tab_footer from "./tab_footer.astro";
---

<section class="outer">
    <section class="inner">
        <Tab_title/>
        <Labeling_table/>
        <Tab_footer />
    </section>
</section>
