---

---
<main id="labeling" class="tab">
    <p class="hint">Select a component to begin</p>
    <table class="hide">
        <tr class="header-row">
            <th>Variation</th>
            <th>Label</th>
        </tr>
    </table>
</main>