---

---
<footer class="hide">
    <section class="info">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M1 8C1 11.866 4.13401 15 8 15C11.866 15 15 11.866 15 8C15 4.13401 11.866 1 8 1C4.13401 1 1 4.13401 1 8ZM8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0ZM8 3.74992C8.41421 3.74992 8.75 4.08571 8.75 4.49992V7.6259C8.75 8.04012 8.41421 8.3759 8 8.3759C7.58579 8.3759 7.25 8.04012 7.25 7.6259V4.49992C7.25 4.08571 7.58579 3.74992 8 3.74992ZM9 10.9999C9 10.4476 8.55229 9.99991 8 9.99991C7.44772 9.99991 7 10.4476 7 10.9999V11.0685C7 11.6208 7.44772 12.0685 8 12.0685C8.55229 12.0685 9 11.6208 9 11.0685V10.9999Z"
                  fill="var(--gray-200)" />
        </svg>

        <p>Ensure there is vertical space of at least 72px between variants.</p>
    </section>
    <button id="apply" class="hide">Apply Labels</button>

</footer>