---

---
<div id="title" class="hide">
    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M8.67927 2.67928L5.99999 0L3.3207 2.67928L5.99999 5.35857L8.67927 2.67928ZM5.35857 5.99999L2.67928 3.3207L0 5.99999L2.67928 8.67927L5.35857 5.99999ZM9.32072 3.3207L12 5.99999L9.32072 8.67927L6.64143 5.99999L9.32072 3.3207ZM8.67927 9.32072L5.99999 6.64143L3.3207 9.32072L5.99999 12L8.67927 9.32072Z"
              fill="#F2F2F2" />
    </svg>
    Tab (Component)
</div>